{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!{% endblock %}

{% block body %}
{{ form_start(formComment) }}
{{ form_widget(formComment) }}
<button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(formComment) }}
{% endblock %}
