<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% include'nav.html.twig' %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger text-center">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning text-center">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
            {% for message in app.flashes('succes') %}
                <div class="alert alert-success text-center">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
            <h1 class="h2 bg-dark text-center text-white">
                {% block titre %}{% endblock %}
            </h1>
            {% block body %}{% endblock %}
        </div>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        {% block javascripts %}{% endblock %}
       
    </body>
</html>
